:root {
  --dark-blue: #0c0822;
  --blue: #385ee2;
  --blue-50: rgba(56,94,226,0.5);
  --blue-25:rgba(56,94,226,0.25);
  --cyan: #0abab5;
  --cyan-50: rgba(10,186,181,0.5);
  --cyan-25: rgba(10,186,181,0.25);
  --purple: #7123a9;
  --red: rgb(231, 15, 44);
  --green: rgb(105, 215, 124);
}

body {
  margin: 0;
  color: white;
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 760px) {
  :root {
    font-size: 10px;
  }
}

